{% extends "home.html" %}

{% block posts %}
{% if post %}
{% for posts in post %}
<div class="home-container4">
    <div class="home-blog-post-card">
      <div class="home-container5">
        <div class="home-profile">
          <span class="home-text07">dadadawd</span>
        </div>
        <span class="home-text08">5 min read</span>
      </div>
      <img
        alt="image"
        src="/static/posts/{{ posts['content'] }}"
        class="home-image1"
      />
      <div class="home-container6">
        <span class="home-text09">
          {{posts["caption"]}}
        </span>
      </div>
    </div>
  </div>
{% endfor %}
{% else %}

  <h2>No pictures</h2>

{% endif %}
{% endblock %}