{% extends "home.html" %}

{% block posts %}
{% if posts_data %}

<div class="home-container4">
  {% set num_posts = 20 %}
  {% for post_data in posts_data[:num_posts] %}
    <div class="home-blog-post-card">
      <div class="home-container5">
        <div class="home-profile">  
          <span class="home-text07">dawdad</span>
        </div>
        <span class="home-text08"></span>
      </div>
      <img
        alt="image"
        src="/static/posts/"
        class="home-image1"
      />
      <div class="home-container6">
        <span class="home-text09">
            caption
        </span>
      </div>
    </div>
  {% endfor %}
</div>
{% if posts_data|length > 20 %}
<button id="show-more-btn" class="show-more-btn">Show More</button>
{% endif %}

{% else %}

<h2>No pictures</h2>
{% endif %}

{% endblock %}

<script>
  document.getElementById("show-more-btn").addEventListener("click", function() {
    num_posts += 10;
  });
</script>